In [23]:
from databallpy import get_saved_game
import accessible_space

game_id = "J03WQQ"


path = "../../datasets/IDSSE/"
game = get_saved_game(name=game_id, path=path)
coordinate_cols = []
player_to_team = {}
col_ids = game.get_column_ids() + ["ball"]
for col in col_ids: 
    coordinate_cols.append(
        [f"{col}_x", f"{col}_y", f"{col}_vx", f"{col}_vy"]
    )
    player_to_team[str(col)] = col.split("_")[0]

game.tracking_data.add_velocity(col_ids, max_velocity=30)
game.synchronise_tracking_and_event_data()
game.tracking_data.add_individual_player_possession()
df_frameified = accessible_space.per_object_frameify_tracking_data(game.tracking_data, "frame", coordinate_cols, col_ids, player_to_team, new_coordinate_cols=("player_x", "player_y", "player_vx", "player_vy"))

df_frameified

          frame  player_x  player_y  ...  event_id  sync_certainty player_possession
0         10000       NaN       NaN  ...      -999             NaN              None
1         10001       NaN       NaN  ...      -999             NaN              None
2         10002       NaN       NaN  ...      -999             NaN              None
3         10003       NaN       NaN  ...         0         0.63727              None
4         10004       NaN       NaN  ...      -999             NaN              None
...         ...       ...       ...  ...       ...             ...               ...
5220507  173136     52.81    -24.33  ...      -999             NaN              None
5220508  173137     52.81    -24.33  ...      -999             NaN              None
5220509  173138     52.81    -24.33  ...      -999             NaN              None
5220510  173139     52.81    -24.33  ...      -999             NaN              None
5220511  173140     52.81    -24.33  ...      -999             NaN              None

[5220512 rows x 52 columns]